<h1>とうこうしたものいちらん</h1>
 
<table>
  
<%= link_to 'New article', new_article_path %>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Link</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to '見るんですか', article_path(article) %></td>
      <td><%= link_to '更新するんですか', edit_article_path(article) %></td>
      <td><%= link_to '消すんですか', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>